<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>House Hunt</title>
    <link rel="stylesheet" href="public/css/cui-standard.min.css">
</head>
<body class="cui">
    <div class="content-fluid">
        <main>
            <header class="header">
                <div class="header-bar container">
                    <div class="header-bar__main">
                        <div class="header-heading">
                            <h1 class="page-title">House Hunt</h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Address</h2>
                            <h3>Price</h3>
                        </div>
                        <div class="col-md-6">
                            <p>Labels</p>
                            <hr>
                            <ul class="list list--inline">
                                <li>
                                    <span class="label label--success">
                                        <span>success</span>
                                        <span class="icon-close"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label label--warning">
                                        <span>warning</span>
                                        <span class="icon-close"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label label--danger">
                                        <span>danger</span>
                                        <span class="icon-close"></span>
                                    </span>
                                </li>
                            </ul>
                            <div><br></div>
                            <ul class="list list--inline">
                                <li>
                                    <span class="label label--success label--large">
                                        <span>success</span>
                                        <span class="icon-close"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label label--warning label--large">
                                        <span>warning</span>
                                        <span class="icon-close"></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="label label--danger label--large">
                                        <span>danger</span>
                                        <span class="icon-close"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>Gauges</p>
                            <hr>
                            <div class="gauge gauge--info gauge--alt gauge--small" data-percentage="13">
                                <div class="gauge__circle">
                                    <div class="mask full">
                                        <div class="fill"></div>
                                    </div>
                                    <div class="mask half">
                                        <div class="fill"></div>
                                        <div class="fill fix"></div>
                                    </div>
                                </div>
                                <div class="gauge__inset">
                                    <div class="gauge__percentage">13</div>
                                </div>
                            </div>
                            <div class="gauge gauge--success gauge--alt" data-percentage="51">
                                <div class="gauge__circle">
                                    <div class="mask full">
                                        <div class="fill"></div>
                                    </div>
                                    <div class="mask half">
                                        <div class="fill"></div>
                                        <div class="fill fix"></div>
                                    </div>
                                </div>
                                <div class="gauge__inset">
                                    <div class="gauge__percentage">51</div>
                                </div>
                            </div>
                            <div class="gauge gauge--danger gauge--alt gauge--large" data-percentage="83">
                                <div class="gauge__circle">
                                    <div class="mask full">
                                        <div class="fill"></div>
                                    </div>
                                    <div class="mask half">
                                        <div class="fill"></div>
                                        <div class="fill fix"></div>
                                    </div>
                                </div>
                                <div class="gauge__inset">
                                    <div class="gauge__percentage">83</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Alerts</p>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="alert">
                                        <div class="alert__icon icon-info-circle"></div>
                                        <div class="alert__message">Information (default)</div>
                                        <div class="alert__close icon-close"></div>
                                    </div>
                                    <div class="alert alert--success">
                                        <div class="alert__icon icon-check"></div>
                                        <div class="alert__message">Success</div>
                                        <div class="alert__close icon-close"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="alert alert--warning">
                                        <div class="alert__icon icon-exclamation-triangle"></div>
                                        <div class="alert__message">Warning</div>
                                        <div class="alert__close icon-close"></div>
                                    </div>
                                    <div class="alert alert--danger">
                                        <div class="alert__icon icon-error"></div>
                                        <div class="alert__message">Danger</div>
                                        <div class="alert__close icon-close"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Activities</p>
                            <div class="panel panel--ltgray">
                                <ul class="list list--aligntop">
                                    <li>
                                        <div class="activity">
                                            <div class="activity__body">
                                                <a class="activity__title">The Martial Art of Transitioning from the Industrial Era</a>
                                                <div class="activity__description">Focusing on harmony will help your organization thrive in the digital economy.<p class="text-uppercase text-small">Tags: <a>Disruption & Transformation</a>,<a>The Boardroom</a></p></div>
                                                <div class="activity__timestamp">3 weeks ago</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="activity">
                                            <div class="activity__body">
                                                <a class="activity__title">Banking on Digital</a>
                                                <div class="activity__description">Traditional bank branches haven't changed much over the years. See how one CEO has moved from paper and long lines to true digital disruption.<p class="text-uppercase text-small">Tags: <a>Agility & Speed</a>,<a>Disruption & Transformation</a>,<a>Security</a>,<a>Technology & Business Alignment</a></p></div>
                                                <div class="activity__timestamp">2 months ago</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="activity">
                                            <div class="activity__body">
                                                <a class="activity__title">Cybersecurity as a Growth Advantage</a>
                                                <div class="activity__description">In an era of unparalleled disruption, companies need to begin viewing cybersecurity differently—beyond its traditional “defensive” role. Those that do will have a competitive advantage. These Secure Digitizers are strongly committed to growth through digital business models and offerings, with cybersecurity as a critical foundation. Learn how they are leading way in today’s digital economy.<p class="text-uppercase text-small">Tags: <a>Agility & Speed</a>,<a>Disruption & Transformation</a>,<a>Security</a></p></div>
                                                <div class="activity__timestamp">7 months ago</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Tables</p>
                            <hr>
                            <table class="table table--bordered table--highlight">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="checkbox">
                                                <input type="checkbox"/>
                                                <span class="checkbox__input"></span>
                                            </label>
                                        </th>
                                        <th class="sortable">Header 1 <span class="sort-indicator icon-chevron-down"></span></th>
                                        <th>Header 2</th>
                                        <th>Header 3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox"/>
                                                <span class="checkbox__input"></span>
                                            </label>
                                        </td>
                                        <td>Row 1, Column 1</td>
                                        <td>Row 1, Column 2</td>
                                        <td>Row 1, Column 3</td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" checked>
                                                <span class="checkbox__input"></span>
                                            </label>
                                        </td>
                                        <td>ACTIVE</td>
                                        <td>Row 2, Column 2</td>
                                        <td>Row 2, Column 3</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox"/>
                                                <span class="checkbox__input"></span>
                                            </label>
                                        </td>
                                        <td>Row 3, Column 1</td>
                                        <td>Row 3, Column 2</td>
                                        <td>Row 3, Column 3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p>Ratings</p>
                            <hr>
                            <div class="rating">
                                <div class="rating__stars">
                                    <div class="rating__star" title="5 Stars">
                                        <span class="icon-star"></span>
                                    </div>
                                    <div class="rating__star" title="4 Stars">
                                        <span class="icon-star"></span>
                                    </div>
                                    <div class="rating__star" title="3 Stars">
                                        <span class="icon-star"></span>
                                    </div>
                                    <div class="rating__star" title="2 Stars">
                                        <span class="icon-star"></span>
                                    </div>
                                    <div class="rating__star" title="1 Star">
                                        <span class="icon-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer footer--new">
    
            </footer>
        </main>
    </div>
</body>
</html>
